# Data Science Tools and Ecosystem

In this notebook we will summarise Data Science Tools and Ecosystems.

**Objectives:**
- List popular Data Science languages
- List popular Data Science libraries
- List popular Data Science tools
- Provide examples of simple arithmetic in Python

Some of the popular Data Science laguages are:
1. Python
2. R
3. SQL
4. Julia

Some commonly used Data Science libraries are:
1. Pandas
2. NumPy
3. scikit-learn
4. ggplot2

| Data Science Tools|
-----
|Rstudio|
|JupyterLab|
|Apache Spark|

### Below are some examples of arithmetic expressions in Python:

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Jack